stanford_course/
dummy_data/
__pycache__/
.vscode/
my_checkpoint.pth.tar
saved_predictions/
layered_preds/
backup_saved_predictions
sbatch_err
sbatch_out
train_set/
validation_set/
augmented_imgs/
runs/
training-ref.py
.gitignore
Results/
HEROHE_infer/
TCGA_infer/
ABCB_TIF_infer/
sbatch.out
test_inference/
markings/
markings_segmaps/
crop_tissue_rois/
model_checkpoints/